{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'sizes/css/sizes.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4">Product Sizes Management</h2>
            <h5 class="text-muted">Add a Product Size</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_product_size' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                  <label for="id_category">Category</label>
                  {{ form.category }}
                </div>
            
                <div class="form-group">
                  <label for="id_product">Product</label>
                  {{ form.product }}
                </div>
            
                <div class="form-group">
                  <label for="id_size">Size</label>
                  {{ form.size }}
                </div>

                <div class="text-right">
                    <a class="btn btn-outline-black rounded-0" href="{% url 'product_sizes' %}">Cancel</a>
                    <button class="btn btn-black rounded-0" type="submit">Add Product Size</button>
                </div>
            </form>
        </div>            
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  var categorySelect = $('#id_category');
  var productSelect = $('#id_product');
  var sizeSelect = $('#id_size');

  function updateProductOptions() {
    var selectedCategory = categorySelect.val();
    if (selectedCategory) {
      $.ajax({
        url: '{% url 'get_filtered_products' %}',
        method: 'GET',
        data: { category: selectedCategory },
        success: function(data) {
          productSelect.empty();
          $.each(data.products, function(index, product) {
            productSelect.append('<option value="' + product.id + '">' + product.name + '</option>');
          });
          // Call the updateSizeOptions function after updating the product options
          updateSizeOptions();
        },
        error: function(xhr, textStatus, error) {
          console.log(error);
        }
      });
    } else {
      productSelect.empty();
      sizeSelect.empty();
    }
  }

  function updateSizeOptions() {
    var selectedCategory = categorySelect.val();
    var selectedProduct = productSelect.val();
    if (selectedProduct) {
      $.ajax({
        url: '{% url 'get_filtered_sizes' %}',
        method: 'GET',
        data: { category: selectedCategory, product: selectedProduct },
        success: function(data) {
          sizeSelect.empty();
          $.each(data.sizes, function(index, size) {
            sizeSelect.append('<option value="' + size.id + '">' + size.name + '</option>');
          });
        },
        error: function(xhr, textStatus, error) {
          console.log(error);
        }
      });
    } else {
      sizeSelect.empty();
    }
  }

  categorySelect.on('change', function() {
    updateProductOptions();
  });

  productSelect.on('change', function() {
    updateSizeOptions();
  });

  updateProductOptions();
});
</script>
{% endblock %}
