{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'sizes/css/sizes.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4">Product Sizes Management</h2>
            <h5 class="text-muted">Add a Product Size</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_product_size' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.category.label_tag }}
                {{ form.category }}
                {{ form.product.label_tag }}
                {{ form.product }}
                {{ form.size.label_tag }}
                {{ form.size }}
                <div class="text-right">
                    <a class="btn btn-outline-black rounded-0" href="{% url 'product_sizes' %}">Cancel</a>
                    <button class="btn btn-black rounded-0" type="submit">Add Product Size</button>
                </div>
            </form>
        </div>            
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  // Get the category select element
  var categorySelect = $('#id_category');
  // Get the product select element
  var productSelect = $('#id_product');

  // Function to update the product options based on the selected category
  function updateProductOptions() {
    var selectedCategory = categorySelect.val();
    if (selectedCategory) {
      // Make an AJAX request to retrieve the filtered products
      $.ajax({
        url: '{% url 'get_filtered_products' %}',
        method: 'GET',
        data: { category: selectedCategory },
        success: function(data) {
          // Clear the current product options
          productSelect.empty();
          // Add the new filtered product options
          $.each(data.products, function(index, product) {
            productSelect.append('<option value="' + product.id + '">' + product.name + '</option>');
          });
        },
        error: function(xhr, textStatus, error) {
          console.log(error);
        }
      });
    } else {
      // If no category is selected, clear the product options
      productSelect.empty();
    }
  }

  // Attach an event listener to the category select element
  categorySelect.on('change', function() {
    updateProductOptions();
  });

  // On page load, call the updateProductOptions function to set the initial product options
  updateProductOptions();
});
</script>
{% endblock %}
