<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="ski-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Skis
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="ski-link">
                <a href="{% url 'products' %}?category=skis" class="dropdown-item">Skis</a>
                <a href="{% url 'products' %}?category=ski_boots" class="dropdown-item">Boots</a>
                <a href="{% url 'products' %}?category=ski_bindings" class="dropdown-item">Bindings</a>
                <a href="{% url 'products' %}?category=ski_bags" class="dropdown-item">Bags</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="snowboard-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Snowboards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="snowboard-link">
                <a href="{% url 'products' %}?category=snowboards" class="dropdown-item">Snowboards</a>
                <a href="{% url 'products' %}?category=snowboard_boots" class="dropdown-item">Boots</a>
                <a href="{% url 'products' %}?category=snowboard_bindings" class="dropdown-item">Bindings</a>
                <a href="{% url 'products' %}?category=snowboard_bags" class="dropdown-item">Snowboard Bags</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=goggles_and_sunglasses" class="dropdown-item">Goggles &amp; Sunglasses</a>
                <a href="{% url 'products' %}?category=helmets" class="dropdown-item">Helmets</a>
                <a href="{% url 'products' %}?category=backpacks" class="dropdown-item">Backpacks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="others-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Others
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="others-link">
                <a href="{% url 'products' %}?category=winter_wear" class="dropdown-item">Winter Wear</a>
                <a href="{% url 'products' %}?category=hot_deals" class="dropdown-item">Hot deals</a>
                <a href="{% url 'products' %}?category=general" class="dropdown-item">General</a>
            </div>
        </li>
    </ul>
</div>