<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-primary mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-primary mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Ski Jackets</a>
                <a href="" class="dropdown-item">Ski Pants</a>
                <a href="" class="dropdown-item">One Piece Ski Suits</a>
                <a href="" class="dropdown-item">Mid Layers</a>
                <a href="" class="dropdown-item">Base Layers</a>
                <a href="" class="dropdown-item">Accessories</a>
                <a href="" class="dropdown-item">All Ski Wear</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-primary mr-5" href="#" id="equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="equipment-link">
                <a href="" class="dropdown-item">Skis</a>
                <a href="" class="dropdown-item">Snowboards</a>
                <a href="" class="dropdown-item">Boots</a>
                <a href="" class="dropdown-item">Bindings</a>
                <a href="" class="dropdown-item">Poles</a>
                <a href="" class="dropdown-item">Goggles</a>
                <a href="" class="dropdown-item">Helmets</a>
                <a href="" class="dropdown-item">All Equipment</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-primary mr-5" href="#" id="luggage-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Luggage
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="luggage-link">
                <a href="" class="dropdown-item">Ski Bag</a>
                <a href="" class="dropdown-item">Snowboard Bag</a>
                <a href="" class="dropdown-item">Boot Bag</a>
                <a href="" class="dropdown-item">Day Packs</a>
                <a href="" class="dropdown-item">Avalanche Packs</a>
                <a href="" class="dropdown-item">All Luggage</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-primary" href="#" id="offers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="offers-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Offers</a>
            </div>
        </li>
    </ul>
</div>